<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="top-bar_sub_w3layouts sticky-top container-fluid">
  <div class="row">

    <div class="col-md-4 col-sm-6 log-icons mt-2">
      <p class="py-2"><i class="fas fa-phone"></i> Nro Contacto : 935 768 202</p>
    </div>

    <div class="col-md-4 col-sm-6 logo">
      <a class="navbar-brand" href="/">
        <i class="fa fa-motorcycle"></i> DT express</a>
    </div>





    <div class="col-md-4 top-forms mt-md-3 mt-2 mb-md-0 mb-3">
      <span class="mx-lg-4 mx-md-2  mx-1">
        <a data-toggle="modal" aria-pressed="false" href="#" data-target="#exampleModal">
          <i class="fas fa-lock"></i> Iniciar Sesión</a>
      </span>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>